@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800|Poppins&display=swap');
 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
      font-family: 'Montserrat',sans-serif;
      text-decoration: none;
 }

 body{
    width: 100%;
    min-height: 100vh;

 }

.cards{
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}

.cards h2.header{
    font-size: 2.5rem;
    text-transform: uppercase;
   margin-bottom: 30px;
   letter-spacing: 1px;
}

.services {
    display: flex;
    align-items: center;
}

.content{
    display: flex;
    flex-wrap: wrap;
    flex:1;
    margin: 20px;
    backdrop-filter: blur(25px);
    padding: 20px;
    border: 2px solid black;
    transition: all 0.3s linear;
}

.content .fab{
    font-size: 5rem;
    margin: 16px 0;
}

.content > *{
  flex: 1 1 100%;
}

.content:hover{
    color: white;
}

.content-1:hover{
    border-color: #1da1f2;
    background: #1da1f2;
}

.content-1:hover a{
    color: #1da1f2;
}

.content-2:hover{
    border-color:#e1306c ;
    background: #e1306c;
}

.content-2:hover a{
    color: #e1306c;
}

.content-3:hover{
    border-color: #ff0000;
    background-color: #ff0000;
}

.content-3:hover a{
    color: #ff0000;
}

.content h2{
    font-size: 30px;
    margin: 16px 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.content p{
    font-size: 17px;
}

.content a{
    margin: 22px 0;
    background-color: black;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid black;
    padding: 15px 0;
    border-radius: 25px;
    transition: 0.3s linear;
}

.fa-twitter{
    color: #1da1f2;
}
.fa-instagram{
    color: #e1306c;
}

.fa-youtube{
    color: #ff0000;
}

.content:hover .fab{
    color: white;
}

.content a:hover{
    border-radius: 4px;
}
@media (max-width:900px) {
    .services{
        display: flex;
        flex-direction: column;
    }

}